<!DOCTYPE html>
<html>
  <head>
    <title>BUILD YOUR MAZE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h3>BUILD YOUR MAZE</h3>
    <!-- champs de saisies utilisateurs -->
    <form action="maze" method="POST">
        <input type="number" name="height" required='required' placeholder="height  >=4 "></br>
        <input type="number" name='width' required='required' placeholder="width >=4"></br>
        <button type='submit'>SEND VALUE</button>
    </form>
  </body>
</html>
