<header>
<link rel="stylesheet" href="/stylesheets/style.css">
</header>
<body>
 <h1>YOUR MAZE</h1>
 <table>
   <% for(var i=0;i<buildMaze.length;i++){  %>
     <tr>
      <% for(var j=0;j<buildMaze[i].length;j++){ %>
        <td><img src='images/<%=buildMaze[i][j]%>.jpeg' class='wazebuild'/></td> 
      <% } %> 
     </tr>
   <% } %>
 </table>
</body>